<section class="my-5">
  <h2 class="h1-responsive font-weight-bold text-center my-5">Our Services</h2>
  <!-- <p class="white-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
    voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.</p> -->
  <div class="row">
    <div class="col-lg-5 mb-lg-0 mb-5">
      <img class="img-fluid rounded z-depth-1 image-height" src="../../../../assets/images/Service_image.jpg" alt="Sample project image">
    </div>
    <div class="col-lg-7">
      <div class="row mb-3 cyan-text">
        <div class="col-md-1 col-2">
          <i class="far fa-money-bill-alt fa-2x"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Debt</h5>
          <p class="white-text">Help will be provided to get you out of debt</p>
        </div>
      </div>
      <div class="row mb-3 red-text">
        <div class="col-md-1 col-2">
            <i class="fas fa-file-invoice-dollar fa-2x"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Payment</h5>
          <p class="white-text">Lower monthly payments, and quick results</p>
        </div>
      </div>
      <div class="row deep-purple-text">
        <div class="col-md-1 col-2">
            <i class="fas fa-fingerprint fa-2x"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Security</h5>
          <p class="white-text mb-0">You'll be legally protected against creditors</p>
        </div>
      </div>
      <div class="row green-text">
        <div class="col-md-1 col-2">
          <i class="fas fa-book fa-2x"></i>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Negotiation</h5>
          <p class="white-text mb-0">Our consultants negotiates on your behalf</p>
        </div>
      </div>
    </div>
  </div>
</section>