.image-height {
    height: 285px
}

.view {
    height: 100vh !important;
}

.background-image {
    background: url("../../../../assets/images/BAckground-Dar_Waves.jpg")no-repeat center center;
    background-size: cover;
}