<div class="container d-flex justify-content-start flex-center">
  <div class="container">
    <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown text-center" data-wow-delay="0.3s">
      <strong>Our Process</strong></h2>
    <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
    <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
      <strong></strong></h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="col-md-3">
          <mat-icon matSuffix class="animated tada infinite">assessment</mat-icon>
          <h3 class="mat-h3">
            <u>1. Debt Analysis</u>
          </h3>
          <p>Debt Angels will give you a Quick and Free Analysis of your Debt Situation.</p>
        </span>
      </li>
      <li class="list-group-item">
        <span class="col-md-4">
          <mat-icon matSuffix class="animated wobble infinite">swap_vert</mat-icon>
          <h3 class="mat-h3">
            <u>2. Debt Restructuring</u>
          </h3>
          <p>Next Step is to Restructure and Negotiate a Lower Monthly Payment for you.</p>
        </span>
      </li>
      <li class="list-group-item">
        <span class="col-md-4">
          <mat-icon matSuffix class="animated jello infinite">done_all</mat-icon>
          <br>
          <h3 class="mat-h3">
            <u>3. Debt Free</u>
          </h3>
          <p class="mat-p">Sticking to your new payment plan will get you out of debt before you know it..</p>
        </span>
      </li>
    </ul>
    <!-- <div class="d-flex justify-content-center">
      <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>Get
        me out Debt</a>
    </div> -->
  </div>
  <div class="container">
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" alt="1">
  </div>
</div>