<div class="container d-flex justify-content-start flex-center lead">
  <div class="container">
    <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown text-center" data-wow-delay="0.3s">
      <strong>Our Services</strong></h2>
    <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
    <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
      <strong></strong></h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="col-md-3">
          <mat-icon matSuffix class="animated hinge infinite">attach_money</mat-icon>
          <h3 class="mat-h3 bold">
            <u>Debt</u>
          </h3>
          <p>We will help you get out of debt</p>
        </span>
      </li>
      <li class="list-group-item">
        <span class="col-md-3">
          <mat-icon matSuffix class="animated swing infinite">account_balance_wallet</mat-icon>
          <h3 class="mat-h3">
            <u>Payment</u>
          </h3>
          <p>Lower monthly payments, and quick results</p>
        </span>
      </li>
      <li class="list-group-item">
        <span class="col-md-3">
          <mat-icon matSuffix class="animated swing infinite">security</mat-icon>
          <h3 class="mat-h3">
            <u>Security</u>
          </h3>
          <p>You'll be legally protected against creditors</p>
        </span>
      </li>
      <li class="list-group-item">
        <span class="col-md-3">
          <mat-icon matSuffi class="animated rubberBand infinite" x>chat</mat-icon>
          <h3 class="mat-h3">
            <u>Negotiation</u>
          </h3>
          <p>Our consultants negotiates on your behalf</p>
        </span>
      </li>
    </ul>
  </div>
  <div class="container">
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" alt="1">
  </div>
</div>