<div class="d-flex align-items-center">
  <div class="container lead">
    <h2 class="h1-responsive font-weight-bold text-center text-white my-5">Our Process</h2>
    <!-- <p class="white-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.</p> -->

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 mb-4 text-center">
        <a class="pink-text">
          <h6 class="font-weight-bold mb-3">
            <mat-icon matSuffix class="animated tada infinite pr-2">assessment</mat-icon>
          </h6>
        </a>
        <h4 class="font-weight-bold mb-3 pink-text"><strong>1. Debt Analysis</strong></h4>
        <p class="white-text">Debt Angels third party providers will give you a Quick and Free Analysis of your Debt
          Situation..</p>
        <!-- <a mdbBtn color="pink" rounded="true" mdbWavesEffect>Read more</a> -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 mb-4 text-center">
        <a class="green-text">
          <h6 class="font-weight-bold mb-3">
            <mat-icon matSuffix class="animated wobble infinite">swap_vert</mat-icon>
          </h6>
        </a>
        <h4 class="font-weight-bold mb-3 green-text"><strong>2. Debt Restructuring</strong></h4>
        <p class="white-text">Next Step is to Restructure and Negotiate a Lower Monthly Payment for you.</p>
        <!-- <a mdbBtn color="green" rounded="true" mdbWavesEffect>Read more</a> -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 mb-0 text-center">
        <a class="blue-text">
          <h6 class="font-weight-bold mb-3">
            <mat-icon matSuffix class="animated jello infinite">done_all</mat-icon>
          </h6>
        </a>
        <h4 class="font-weight-bold mb-3 blue-text"><strong>3. Debt Free</strong></h4>
        <p class="white-text">Sticking to your new payment plan will get you out of debt before you know it..</p>
        <!-- <a mdbBtn color="info" rounded="true" mdbWavesEffect>Read more</a> -->
      </div>
    </div>
  </div>
</div>