<div class="container-fluid my-3 pt-1 pb-3 blue-gradient text-white">
  <h1 class="h1-responsive font-weight-bold text-center my-5 blue-grey-text">Debt Counselling</h1>
  <div class="text-white"> 
    <h2 class="text-center "><u>What Does a Debt Counsellor do for You?</u></h2>
    <p class="text-center w-responsive mx-auto mb-5">Debt counselling is a process that is intended to help restructure
      the debt obligations of consumers who cannot pay their debts. A consumer will have to involve a debt counsellor
      who will negotiate the restructuring of a consumer's debt obligations with his/her credit providers. The purpose
      of debt counselling is to assist consumers in meeting their debt commitments. Debt counselling was introduced by
      the National Credit Act (NCA) in 2007</p>
  </div>
  <div class="row">
    <!-- <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div> -->
    <!-- <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>1. Are you over indebted? Struggling to pay off your loans and meeting your monthly obligations?</strong></h3>
      <p>Debt counselling is one of the debt relief measures available in South Africa, introduced by the
        National Credit Act (NCA) in 2007. Debt counselling is intended to assist over-indebted consumers
        struggling with debt through budget advice, negotiation with credit providers for reduced payments
        and
        restructuring of debts.
        This is a great process for anyone with an income and struggling to meet their monthly obligations.</p>
      <a mdbBtn color="success" mdbWavesEffect>Read more</a>
    </div> -->
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>1. What is over-indebtedness?</strong></h3>
      <p>A consumer is over-indebted when he/she does not have the means to meet all his/her debt payments at the end of
        a month.
        The Act also states that if the Debt Counsellor has completed an assessment and has reached a conclusion
        that a consumer will not be able to meet his/her debt commitments at the end of a month,
        that consumer is overindebted.

        <br><br>Debt Counsellors also assist consumers with basic financial planning skills, such as drawing up a
        budget.
        Although a consumer has the right to apply for debt restructuring, this does not mean that he /she will
        automatically qualify for the service. After assessing the consumer's financial status,
        a Debt Counsellor may conclude that the consumer is not over-indebted.
        The Debt Counsellor must then issue the consumer with a letter of rejection.
        A consumer who has received such a letter of rejection may, within 20 business days,
        approach the court and request it to declare him/her over-indebted.
      </p>
      <!-- <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a> -->
    </div>
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 waves-light animated pulse infinite" mdbWavesEffect>
        <img class="img-fluid" src="../../../assets/images/Over-indebted2.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light animated pulse infinite" mdbWavesEffect>
        <img class="img-fluid" src="../../../assets/images/Debt_Restructuring.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>2. What is debt restructuring? </strong></h3>
      <p>Debt restructuring is a process where a Debt Counsellor reviews a consumer's credit agreement and reschedules the payment.
        The Debt Counsellor will first attempt to restructure a consumer's debt by making a proposal to all credit 
        providers and by attempting to get all the parties involved to agree on the proposal. 
        If an agreement is reached, the Debt Counsellor can request the Tribunal or a court to issue a consent. 
        If an agreement is not reached, the Debt Counsellor may refer the matter to the Magistrate court. 
        The Magistrate Court must conduct a hearing and then make an appropriate order.</p>
      <!-- <a mdbBtn color="indigo" mdbWavesEffect>Read more</a> -->
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>3. The effects of debt restructuring?</strong></h3>
      <p>Once a consumer is placed under debt review, credit providers may not take any legal action against the consumer.
        Furthermore, a consumer whose debt is in the process of being restructured is not allowed to apply for or receive more
        credit. The only credit that a consumer under debt review can apply for is a consolidation loan. A consumer who fails
        to pay in terms of a restructuring agreement will immediately be removed from the debt review process and the credit
        providers may immediately take legal action against the consumer</p>
      <!-- <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a> -->
    </div>
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 waves-light animated pulse infinite" mdbWavesEffect>
        <img class="img-fluid" src="../../../assets/images/Effect of Debt restructure.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light animated pulse infinite" mdbWavesEffect>
        <img class="img-fluid" src="../../../assets/images/Debt_Free.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>4. What is a “Clearance Certificate”? </strong></h3>
      <p>A consumer who has settled all his/her debt in terms of a debt restructuring must receive a “Clearance Certificate” from
      the Debt Counsellor. This certificate will allow the consumer to have his/her credit record that is held by a credit
      bureau, cleared. All the listings associated with the paid off debt must be cleared. Should a Debt Counsellor refuse to
      give the consumer the certificate he/she can approach the Tribunal to review the decision of the Debt Counsellor.</p>
      <!-- <a mdbBtn color="indigo" mdbWavesEffect>Read more</a> -->
    </div>
  </div>
  <!-- <hr class="my-5"> -->
  <!-- <div class="row">
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>6. Who is in charge of debt counselling in South Africa?</strong></h3>
      <p>Debt counselling is governed by the National Credit Act and is overseen by the National Credit
        Regulator
        (NCR)</p>
      <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
    </div>
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div> -->
  <!-- <hr class="my-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>7. Who offers debt counselling in South Africa?</strong></h3>
      <p>There are multiple companies or people that are registered as Debt counsellors in terms of the
        National
        Credit Act.</p>
      <a mdbBtn color="indigo" mdbWavesEffect>Read more</a>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>8. Where and how should the money be paid?</strong></h3>
      <p>You would arrange that your first and second payment to be taken by your debt counsellor, by means
        of a
        debit order.</p>
      <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
    </div>
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>9. Who is responsible for payment distributions to credit
          providers?</strong></h3>
      <p>Once accepted under debt counselling you will pay one instalment which will then be distributed to
        your
        credit providers by a Payment Distribution Agent (PDA). The PDA is also responsible for the
        provision of
        monthly statements to consumers and payment schedules to debt counsellors, employers and credit
        providers, as well as attending to queries from the respective parties.</p>
      <a mdbBtn color="indigo" mdbWavesEffect>Read more</a>
    </div>
  </div> -->
  <!-- <hr class="my-5">
  <div class="row">
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3"><strong>10. How can Debt counselling help you become debt free?</strong></h3>
      <p>Our Debt Review Advice Will Put You Back in Control of Your Finances.
        We provide tailor-made Debt Review Services across South Africa and can help you save money every
        month
        and protect your assets from being repossessed.
        Through poor financial decision-making or even via no fault of their own, most consumers have lived
        through the predicament of running out of money before month end, skipping debt repayments to credit
        providers as a result.
        The Debt Review Process prevents credit providers from taking legal action against you in order to
        reclaim the outstanding balance. With our Debt Review Help, you will avoid setting off a grim
        sequence
        of ramifications.</p>
      <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
    </div>
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div> -->
</div>