<div class="welcome-container p-1">
  <div class="d-flex justify-content-start ml-3">
    <div class="float-header">
      <div class="stage">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
      </div>
    </div>
  </div>

  <button [routerLink]="['/home']" class="float animated tada infinite" mdbBtn type="button" size="lg" gradient="purple"
    mdbWavesEffect>
    <mdb-icon fas icon="hand-holding-usd" class="mr-3"></mdb-icon>Get Me Out Of Debt
  </button>
  <div class="background-image">
    <app-welcome-blog-our-process></app-welcome-blog-our-process>
    <app-welcome-mdb-project-our-services></app-welcome-mdb-project-our-services>
  </div>
  <app-questionaire></app-questionaire>
</div>