<!-- <div class="container">
  <h1 class="text-center">Welcome Page</h1>
</div> -->

<!--Main Navigation-->
<div class="welcome-container">
  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="full-bg-img mask rgba-black-light">
      <div class="container d-flex justify-content-start flex-center">
        <div class="container">
          <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown text-center"
            data-wow-delay="0.3s">
            <strong>Debt Angels</strong></h2>
          <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
          <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
            <strong>Sign up with us and take advantage of the following:</strong></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Reduce your payments by 50%</li>
            <li class="list-group-item">We will protect your assets</li>
            <li class="list-group-item">No more debt phone calls</li>
            <li class="list-group-item">Increase your credit score</li>
            <li class="list-group-item">Qualify again once complete</li>
          </ul>
          <div class="d-flex justify-content-center">
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
              mdbWavesEffect>Get me out Debt</a>
          </div>
        </div>
        <div class="container">
          
        </div>
      </div>
    </div>
  </div>
  <app-questionaire></app-questionaire>
</div>