.welcome-container {
  height: unset !important;
}

.float-header {
  position: fixed;
  z-index: 1;
}

.float{
	position:fixed;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.background-image {
  
  // background: no-repeat center center fixed; 
  // background-image: url(https://static1.squarespace.com/static/59a4f55f2994caf642815e9c/t/59aa3beac534a5dcf20cdda3/1504328697036/work.jpeg?format=750w);
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  background-color: white;
}

.list-group-item {
  background-color: transparent;
}

h1 {
  letter-spacing: 8px;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}