<div class="container">
  <h1 class="text-center animated bounce infinite">Debt Review</h1>
  <div class="z-depth-5 content-container">
    <h2 class="text-center"><u>Our Debt Review Advice Will Put You Back in Control of Your Finances</u></h2>
    <p class="lead">We provide tailor-made Debt Review Services across South Africa and can help you save money
      every month and protect your assets from being repossessed.
      Through poor financial decision-making or even via no fault of their own, most consumers have lived
      through the predicament of running out of money before month end, skipping debt repayments to
      credit providers as a result.
      The Debt Review Process prevents credit providers from taking legal action against you in order to
      reclaim the outstanding balance. With our Debt Review Help, you will avoid setting off a grim
      sequence of ramifications.</p>
  </div>
  <div class="z-depth-5 content-container">
    <h2 class="text-center"><u>What Does a Debt Counsellor do for You?</u></h2>
    <p class="lead">Your debt counsellor will work out how much of your income should be set aside for basic living
      expenses, and what you can afford to pay towards your debts each month. Then they will draw up a
      new, more affordable repayment plan for you.
      Next, they will negotiate with your creditors to extend the amount of time you have to repay your
      debts and to have your payments reduced, so you can realistically afford them.
      If all of your creditors agree to the repayment proposal, your debt counsellor will then get a consent
      order from the magistrate’s court or National Consumer Tribunal (NCT).
      All of Debt Angels third party professional debt counsellors are highly qualified and registered with
      the National Credit Regulator (NCR). You can be rest assured that you will be receiving the best
      service possible.</p>
  </div>
  <div class="content-container">
    <app-tabs></app-tabs>
  </div>

</div>