<div class="container">
  <!---ToDO: Remove br-->
  <br><br><br><br><br><br><br><br>

  <div class="mt-4"></div>
  <div class="mt-4"></div>
  <h4 class="mt-h4 text-center">Apply for a Debt Solution</h4>
  <hr>

  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="example-container form-inline justify-content-center">
        <div class="mt-4"></div>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="FirstName">
          <mat-hint>First name on your ID</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input matInput placeholder="MiddleName">
          <mat-hint>Second name on your ID. This is optional.</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name">
          <mat-hint>Last name on your ID (Surname).</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number">
          <mat-hint>Phone number.</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Alternative Phone Number</mat-label>
          <input matInput placeholder="Alternative Phone Number">
          <mat-hint>Alternative Phone Number incase we don't reach you on your primary phone.</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" class="example-container">
          <mat-hint>Email.</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Prefered Method of Communication (How you want to be contacted)"
            aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" class="btn btn-block">
          Submit
        </button>
        <div class="mt-4"></div>
        <div class="mt-4"></div>
        <br>
      </div>
    </div>
  </div>

</div>