<div class="d-md-flex">
  <!-- First Half -->
  <div id="landing-div" class="col-md-6 p-0">
    <div class="d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
      <div class="logoarea pt-5 pb-5">
        <h1 class="text-center" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Debt
          Angel</h1>
        <h5 class="text-center" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Your
          trusted debt solutions provider.</h5>
      </div>
    </div>
  </div>

  <!-- Second Half -->
  <div class="col-md-6 p-0 bg-white loginarea">
    <div class="d-md-flex justify-content-center">

      <div class="col-sm-8">
        <div class="example-container form-inline justify-content-center"
          [formGroup]="registrationFormGroup" autocomplete="off">

          <br><br><br>
          <h1 class="mat-h1 text-center">Apply for debt solution</h1>

          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="FirstName" class="text-center" formControlName="firstName">
            <mat-hint>First name on your ID</mat-hint>
            <mat-error *ngIf="hasError('firstName', 'required')">Firstname is required.</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input matInput placeholder="MiddleName" class="text-center" formControlName="middleName">
            <mat-hint>Second name on your ID. This is optional.</mat-hint>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" class="text-center" formControlName="lastName">
            <mat-hint>Last Name.</mat-hint>
            <mat-error *ngIf="hasError('lastName', 'required')">Lastname is required.</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number" class="text-center" formControlName="phoneNumber">
            <mat-hint>Phone number.</mat-hint>
            <mat-error *ngIf="hasError('phoneNumber', 'required')">Phonenumber is required.</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Alternative Phone Number</mat-label>
            <input matInput placeholder="Alternative Phone Number" class="text-center"
              formControlName="alternativePhoneNumber">
            <mat-hint>Alternative Phone Number incase we don't reach you on your primary phone.</mat-hint>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" class="text-center" formControlName="email">
            <mat-hint>Email.</mat-hint>
            <mat-error *ngIf="hasError('email', 'required')">Email is required.</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">Invalid email.</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Prefered Method of Communication (How you want to be contacted)"
              aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>How you would prefer to be contacted.</mat-hint>
          </mat-form-field>
          <br>

          <a href="../assets/Privacy policy.docx" download>Download terms and conditions</a>
          <div class="checkbox">
            <h4 class="mat-h4"><input class="form-control" type="checkbox" value="">Accept Terms & Conditions.</h4>
          </div>
          <br>

          <button mat-raised-button class="angel-blue" [disabled]="!registrationFormGroup.valid"
            (click)="onSubmit(registrationFormGroup.value)" class="btn btn-block">
            Apply for debt solution
          </button>
          <div class="mt-4"></div>
          <div class="mt-4"></div>
          <br>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="d-md-flex">
  <!-- Third Half -->
  <div class="col-md-6 p-0 bg-white loginarea">
    <div class="d-md-flex p-5 justify-content-center">
      <div class="container-fluid">
        <h1 class="text-center">What is Debt Counselling</h1>
        <app-debt-counselling></app-debt-counselling>
      </div>
    </div>
  </div>

  <!-- Fourth Half -->
  <div id="info-div" class="col-md-6 p-0 bg-white h-md-100 loginarea">
    <div class="d-md-flex h-md-100 p-5 justify-content-center">

      <div class="container-fluid">
       
      </div>

    </div>
  </div>
</div>





<div class="d-md-flex h-md-100">
  <!-- Fifth Half -->
  <div id="info-div" class="col-md-6 p-0 bg-white h-md-100 loginarea">
    <div class="d-md-flex h-md-100 p-5 justify-content-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm d-flex">
            <div class="card card-body  flex-fill">
              <h2 class="mat-h2 text-center">13. Repossession</h2>
              <h4 class="mat-h4">
                Debt Angels third party Debt counsellors will prevent your credit providers from repossessing your
                assets, such as your house and car, whether you are based in Durban, Johannesburg or Port Elizabeth.
              </h4>
            </div>
          </div>
          <div class="col-sm d-flex">
            <div class="card card-body flex-fill">
              <h2 class="mat-h2 text-center">14. The Debt Free Life Awaits</h2>
              <h4 class="mat-h4">
                Opting for Debt Review will protect you from all of the above repercussions that stem from defaulting on
                debt repayments. Moreover, Debt Review Counselling will enable you to start moving forward towards a
                debt free life, instead of continually backpedalling into over-indebtedness.
              </h4>
            </div>
          </div>
          <div class="col-sm d-flex">
            <div class="card card-body flex-fill">
              <h2 class="mat-h2 text-center">15. What Does a Debt Counsellor do for You?</h2>
              <h4 class="mat-h4">
                Your debt counsellor will work out how much of your income should be set aside for basic living
                expenses, and what you can afford to pay towards your debts each month. Then they will draw up a new,
                more affordable repayment plan for you.
                Next, they will negotiate with your creditors to extend the amount of time you have to repay your debts
                and to have your payments reduced, so you can realistically afford them.
                If all of your creditors agree to the repayment proposal, your debt counsellor will then get a consent
                order from the magistrate’s court or National Consumer Tribunal (NCT).
                All of Debt Angels third party professional debt counsellors are highly qualified and registered with
                the National Credit Regulator (NCR). You can be rest assured that you will be receiving the best service
                possible.
              </h4>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm d-flex">
            <div class="card card-body flex-fill">
              <h2 class="mat-h2 text-center">4. How can Debt counselling help you become debt free?</h2>
              <h4 class="mat-h4">
                Once declared over indebted and accepted into debt counselling the following will happen:
                You will be protected from legal action for a period of 60 days from the day of application and after
                the arrangement has been concluded, as long as you pay according to the new arrangement;
                All your creditors will have to stop calling you and will liaise with your debt counsellor;
                You will be listed with the Credit Bureau as being under debt counselling.
              </h4>
            </div>
          </div>
          <div class="col-sm d-flex">
            <div class="card card-body flex-fill">
              <h2 class="mat-h2 text-center">5. How can Debt counselling help you become debt free?</h2>
              <h4 class="mat-h4">
                While you are under debt counselling you will not be allowed to get any further credit until you are
                issued with a Clearance Certificate- once you have satisfied your obligations as per the Court or
                Tribunal order and in line with the National Credit Act.
              </h4>
            </div>
          </div>
          <div class="col-sm d-flex">
            <div class="card card-body flex-fill">
              <h2 class="mat-h2 text-center">6. Who is in charge of debt counselling in South Africa?</h2>
              <h4 class="mat-h4">
                Debt counselling is governed by the National Credit Act and is overseen by the National Credit Regulator
                (NCR)
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sixth Half -->
  <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
      <div class="container-fluid">
        <app-tabs></app-tabs>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>