<div class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="1. Are you over indebted? Struggling to pay off your loans and meeting your monthly obligations?">
      <ng-template ngbPanelContent>
        Debt counselling is one of the debt relief measures available in South Africa, introduced by the
        National Credit Act (NCA) in 2007. Debt counselling is intended to assist over-indebted consumers
        struggling with debt through budget advice, negotiation with credit providers for reduced payments
        and
        restructuring of debts.
        This is a great process for anyone with an income and struggling to meet their monthly obligations.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="2. What is over-indebtedness?">
      <ng-template ngbPanelContent>
        Over-indebtedness occurs when a consumer is unable to repay all financial obligations in a timely
        manner
        and/or where total debt repayments exceed net income (“take-home pay”) after living expenses have
        been
        paid for.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="3. How does Debt counselling work?">
      <ng-template ngbPanelContent>
        Once declared over indebted and accepted into debt counselling the following will happen:
        You will be protected from legal action for a period of 60 days from the day of application and
        after
        the arrangement has been concluded, as long as you pay according to the new arrangement;
        All your creditors will have to stop calling you and will liaise with your debt counsellor;
        You will be listed with the Credit Bureau as being under debt counselling.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="4. How can Debt counselling help you become debt free?">
      <ng-template ngbPanelContent>
        Once declared over indebted and accepted into debt counselling the following will happen:
        You will be protected from legal action for a period of 60 days from the day of application and
        after
        the arrangement has been concluded, as long as you pay according to the new arrangement;
        All your creditors will have to stop calling you and will liaise with your debt counsellor;
        You will be listed with the Credit Bureau as being under debt counselling.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="5. How can Debt counselling help you become debt free?">
      <ng-template ngbPanelContent>
        While you are under debt counselling you will not be allowed to get any further credit until you are
        issued with a Clearance Certificate- once you have satisfied your obligations as per the Court or
        Tribunal order and in line with the National Credit Act.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="6. Who is in charge of debt counselling in South Africa?">
      <ng-template ngbPanelContent>
        Debt counselling is governed by the National Credit Act and is overseen by the National Credit
        Regulator
        (NCR)
      </ng-template>
    </ngb-panel>
    <ngb-panel title="7. Who offers debt counselling in South Africa?">
      <ng-template ngbPanelContent>
        There are multiple companies or people that are registered as Debt counsellors in terms of the
        National
        Credit Act.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="8. Where and how should the money be paid?">
      <ng-template ngbPanelContent>
        You would arrange that your first and second payment to be taken by your debt counsellor, by means
        of a
        debit order.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="9. Who is responsible for payment distributions to credit providers?">
      <ng-template ngbPanelContent>
        Once accepted under debt counselling you will pay one instalment which will then be distributed to
        your
        credit providers by a Payment Distribution Agent (PDA). The PDA is also responsible for the
        provision of
        monthly statements to consumers and payment schedules to debt counsellors, employers and credit
        providers, as well as attending to queries from the respective parties
      </ng-template>
    </ngb-panel>
    <ngb-panel title="10. How can Debt counselling help you become debt free?">
      <ng-template ngbPanelContent>
        Our Debt Review Advice Will Put You Back in Control of Your Finances.
        We provide tailor-made Debt Review Services across South Africa and can help you save money every
        month
        and protect your assets from being repossessed.
        Through poor financial decision-making or even via no fault of their own, most consumers have lived
        through the predicament of running out of money before month end, skipping debt repayments to credit
        providers as a result.
        The Debt Review Process prevents credit providers from taking legal action against you in order to
        reclaim the outstanding balance. With our Debt Review Help, you will avoid setting off a grim
        sequence
        of ramifications.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>