<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Repossession</b></ng-template>
    <ng-template ngbTabContent>
      <p>Debt Angels third party Debt counsellors will prevent your credit providers from repossessing your
        assets, such as your house and car, whether you are based in Durban, Johannesburg or Port Elizabeth.</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Blacklisting</b></ng-template>
    <ng-template ngbTabContent>
      <p>Debt Review Loans can protect you from a bad credit rating, which can undermine your opportunities.</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Garnishee Orders</b></ng-template>
    <ng-template ngbTabContent>
      <p>Whether you live in Bellville, Bloemfontein, Pretoria or Cape Town, Debt Review can protect you from
        Garnishee Orders. These orders force your employers to pay your credit providers directly out of
        your
        monthly salary.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>