<!-- <div class="container">

  <div class="mt-4"></div>
  <div class="mt-4"></div>
  <h4 class="mt-h4 text-center">Welcome to Debt Angel</h4>
  <h6 class="mt-h6 text-center">Your professional, reliable and trusted debt solutions provider.</h6>

  <hr>

  <div class="mt-4"></div>
  <div class="mt-4"></div>

  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="example-container form-inline justify-content-center">
        <div class="mt-4"></div>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="FirstName">
          <mat-hint>First name on your ID</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input matInput placeholder="MiddleName">
          <mat-hint>Second name on your ID. This is optional.</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name">
          <mat-hint>Last name on your ID (Surname).</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number">
          <mat-hint>Phone number.</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Alternative Phone Number</mat-label>
          <input matInput placeholder="Alternative Phone Number">
          <mat-hint>Alternative Phone Number incase we don't reach you on your primary phone.</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" class="example-container">
          <mat-hint>Email.</mat-hint>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Prefered Method of Communication (How you want to be contacted)"
            aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" class="btn btn-block">
          Submit
        </button>
        <div class="mt-4"></div>
        <div class="mt-4"></div>
        <br>
      </div>
    </div>
  </div>

  <br> 

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Our services and process
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>

      </mat-expansion-panel-header>

      <div class="row">
        <div class="container header-box text-center">
          <h1 class="mat-h1 text-center">Our Process</h1>
        </div>
      </div>
      <br>

      <br>
      <div class="row text-center">
        <div class="col-md-3">
          <mat-icon matSuffix>assessment</mat-icon>
          <br>
          <h3 class="mat-h3">
            <u>1. Debt Analysis</u>
          </h3>
          <p>Debt Angels will give you a Quick and Free Analysis of your Debt Situation.</p>
        </div>
        <div class="col-md-4">
          <mat-icon matSuffix>swap_vert</mat-icon>
          <br>

          <h3 class="mat-h3">
            <u>2. Debt Restructuring</u>
          </h3>
          <p>Next Step is to Restructure and Negotiate a Lower Monthly Payment for you.</p>
        </div>
        <div class="col-md-4">
          <mat-icon matSuffix>done_all</mat-icon>
          <br>
          <h3 class="mat-h3">
            <u>3. Debt Free</u>
          </h3>
          <p class="mat-p">Sticking to your new payment plan will get you out of debt before you know it..</p>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="container header-box text-center">
          <h1 class="mat-h1 text-center">Our Services</h1>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-3">
          <mat-icon matSuffix>attach_money</mat-icon>
          <br>
          <h3 class="mat-h3 bold">
            <u>Debt</u>
          </h3>
          <p>We will help you get out of debt</p>
        </div>
        <div class="col-md-3">
          <mat-icon matSuffix>account_balance_wallet</mat-icon>
          <br>
          <h3 class="mat-h3">
            <u>Payment</u>
          </h3>
          <p>Lower monthly payments, and quick results</p>
        </div>
        <div class="col-md-3">
          <mat-icon matSuffix>security</mat-icon>
          <br>
          <h3 class="mat-h3">
            <u>Security</u>
          </h3>
          <p>You'll be legally protected against creditors</p>
        </div>
        <div class="col-md-3">
          <mat-icon matSuffix>chat</mat-icon>
          <br>
          <h3 class="mat-h3">
            <u>Negotiation</u>
          </h3>
          <p>Our consultants negotiates on your behalf</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br><br>

</div> -->
<br>
<div class="half mb-20"></div>