<div class="container">
  <br>
  <br>

  <h1 class="mat-h1 text-center bold">Welcome to Debt Angel</h1>
  <h3 class="text-center mat-h3 bold">Your discreet, reliable and trusted debt solutions provider.</h3>


  <div class="mt-4"></div>
  <div class="mt-4"></div>

  <hr>
  <mat-card>

    <div class="row">
      <div class="container header-box text-center">
        <h2 class="mat-h2">Our Services</h2>
      </div>
    </div>


    <div class="row text-center">
      <div class="col-md-3 service-box">
        <h3 class="mat-h3 bold">Debt</h3>
        <p class="">We will help you get out of debt</p>
      </div>
      <div class="col-md-3 service-box">
        <h3 class="mat-h3">Payment</h3>
        <p class="">Lower monthly payments, and quick results</p>
      </div>
      <div class="col-md-3 service-box">
        <h3 class="mat-h3">Security</h3>
        <p class="">You'll be legally protected against creditors</p>
      </div>
      <div class="col-md-3 service-box">
        <h3 class="mat-h3">Negotiation</h3>
        <p class="">Our consultants negotiates on your behalf</p>
      </div>

    </div>

  </mat-card>

  <br>
  <h2 class="text-center mat-h2">Our 3 steps process:</h2>

  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>STEP 1</ng-template>
      <h4 class="debt-solution-header">1. Debt Analysis</h4>
      <p class="">Debt Angels will give you a Quick and Free Analysis of your Debt Situation</p>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>STEP 2</ng-template>
      <h4 class="debt-solution-header">2. Debt Restructure</h4>
      <p class="">Next Step is to Restructure and Negotiate a Lower Monthly Payment for you</p>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>STEP 3</ng-template>
      <h4 class="debt-solution-header">3. Debt Free</h4>
      <p class="">Sticking to your new payment plan will get you out of debt before you know it..</p>
    </mat-step>
  </mat-horizontal-stepper>


  <div class="mt-4"></div>
  <div class="mt-4"></div>

  <!--Application Form-->
  <button mat-raised-button color="primary" class="btn btn-block" (click)="toggleApplicatiionForm()">
    Apply for Debt Solution
  </button>

  <div class="row" *ngIf="isViewApplicationForm">
    <div class="col-2"></div>

    <div class="col-8">
      <div class="mt-4"></div>

      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="FirstName">
          <mat-hint>First name on your ID</mat-hint>
        </mat-form-field>
      </div>
      <br>

      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input matInput placeholder="MiddleName">
          <mat-hint>Second name on your ID. This is optional.</mat-hint>
        </mat-form-field>
      </div>
      <br>

      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name">
          <mat-hint>Last name on your ID (Surname).</mat-hint>
        </mat-form-field>
      </div>
      <br>

      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number">
          <mat-icon matSuffix>call</mat-icon>
          <mat-hint>Phone number.</mat-hint>
        </mat-form-field>
      </div>
      <br>

      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Alternative Phone Number</mat-label>
          <input matInput placeholder="Alternative Phone Number">
          <mat-icon matSuffix>call</mat-icon>
          <mat-hint>Alternative Phone Number incase we don't reach you on your primary phone.</mat-hint>
        </mat-form-field>
      </div>
      <br>

      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint>Email.</mat-hint>
        </mat-form-field>
      </div>
      <br>

      <form class="example-container">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Prefered Method of Communication (How you want to be contacted)"
            aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form><br>

    </div>

    <div class="col-2"></div>
  </div>
</div>